<div class="container">
<h3>{{Titulo}}</h3>
<div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th class="text-center">EquipoNombre</th>
            <th class="text-center">EquipoRanking</th>
            <th class="text-center">IdEquipo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of Items">
            <td>{{item.EquipoNombre}}</td>
            <td>{{item.EquipoRanking}}</td>
            <td>{{item.IdEquipo}}</td>
        </tr>
      </tbody>
    </table>
</div>